body {
	font-family: 'Nunito Sans', sans-serif;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

/* header */
.header {
	text-align: center;
}

/* colored column header */
.gr {
	background-color: chartreuse;
}
.tq {
	background-color: turquoise;
}
.hp {
	background-color: hotpink;
}
.or {
	background-color: orange;
}

th {
	padding: 25px;
}
